.datarow :hover {
	cursor: pointer !important;
	cursor: hand !important;
}

.formText {
	width: 90%;
}

td {
	padding-left: 110px !important;
}

#registered {
	min-height: 55px;
}

.button--primary {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.button--secondary {
        padding-left: 5px !important;
        padding-right: 5px !important;
}

#new {
	position: fixed;
	top: 20px;
	right: 10px;
}

#refresh {
	position: fixed;
	top: 20px;
	right: 55px;
}

#status {
        position: fixed;
        bottom: 5px;
        right: 5px;
        width: 25px;
        height: 25px;
}
