#### EMP Config File
#### Version 1


# Databases
inventory = "inventory.db"
local     = "local.db"
nodes     = "known_nodes.dat"

# Network

# If a backbone node, change to a custom IP (v4 or v6)
# ip = <custom_ip>
ip = "0.0.0.0"
port = 5000

# Bootstrap Peers
bootstrap = [
  "162.243.175.207:5000"
]

# RPC
[rpc]
user = "rpcUser"
pass = "rpcPass"
port = 8080
local_client = "client"
local_only = true
